.orderItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderItemTitle {
  width: 40%;
  font-family: Noto Sans Georgian;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: left;
  color: #252c32;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderItemPricing {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderItemPrice {
  width: 33%;
  text-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  font-family: Noto Sans Georgian;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: left;
  color: #87898e;
}

.orderItemQuantity {
  width: 33%;
}

.orderItemTotal {
  width: 33%;
  text-wrap: nowrap;
  font-family: Noto Sans Georgian;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
  color: #ff6347;
}
