.tab {
  width: max-content;
  min-width: 80px;
  padding: 11px 14px;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: Noto Sans Georgian;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.34px;
  text-align: center;
  color: #4f5055;
}

.active {
  background-color: #23447c;
  color: #ffffff;
}
