.headerContainer {
  background: #ededed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.logo {
  position: absolute;
  top: 0;
  display: inherit;
}

.filters {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-left: 72px;
}
