.food-card {
  max-width: 320px;
  border-radius: 10px;
  background: #fff;
}
.fc-img {
  width: 100%;
  max-height: 240px;
  height: auto;
  background-size: cover !important;
  background-position: center !important;
}
.fc-info {
  padding: 15px 24px;
}
.fc-title {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: #252c32;
}
.fc-info p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.71;
  opacity: 0.75;
  letter-spacing: -0.08px;
  color: #373e44;
}
.fc-prize {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 500px) {
  .food-card {
    width: 168px;
    border-radius: 15px;
    overflow: hidden;
  }
  .fc-img {
    max-height: 155px;
    height: auto;
  }

  .fc-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: -0.07px;
  }
  .fc-info {
    padding: 10px 18px; /*test*/
  }
  .fc-info p {
    display: none;
  }
  .fc-prize {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.2px;
  }
}
/* ///////////// */
/* .swiper-button-prev,
.swiper-button-next {
  transition: all 0.1s ease-in-out;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  font-size: 5px;
}
.swiper-button-prev::after {
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
.swiper-button-next::after {
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
.food-card:hover .swiper-button-next {
  right: 10px;
} */
