.food-card {
  max-width: 320px;
  border-radius: 10px;
  background: #fff;
}

.food-card .swiper-button-prev,
.food-card .swiper-button-next {
  transition: all 0.1s ease-in-out !important;
  width: 40px !important;
  height: 40px !important;
  background: #fff;
  border-radius: 50%;
}

.food-card .swiper-button-prev::after {
  margin-right: 2px !important;
  font-size: 15px !important;
  color: #000;
  font-weight: bold;
}

.food-card .swiper-button-next::after {
  margin-left: 2px !important;
  font-size: 15px !important;
  color: #000;
  font-weight: bold;
}

.food-card .swiper-button-prev {
  left: -50px !important;
}

.food-card .swiper-button-next {
  right: -50px !important;
}

.food-card:hover .swiper-button-next {
  right: 10px !important;
}

.food-card:hover .swiper-button-prev {
  left: 10px !important;
}

.food-card .swiper-pagination-bullet {
  background: #ccc !important;
  opacity: 1;
}

.food-card .swiper-pagination-bullet-active {
  background: #ff5d47 !important;
}

@media (max-width: 500px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 25px !important;
    height: 25px !important;
  }
  .swiper-button-prev::after {
    font-size: 8px !important;
  }
  .swiper-button-next::after {
    font-size: 8px !important;
  }
}
