.container {
  position: relative;
}

.dropdownLabel {
  margin-left: 4px;
  cursor: pointer;
  color: #1e40af;
}

.dropdownMenu {
  position: absolute;
  z-index: 50;
  margin-top: 8px;
  width: 192px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
}

.dropdownItem:hover {
  background-color: #e5e7eb;
}
