.tabsContainer {
  width: max-content;
  display: flex;
  justify-content: start;
  background-color: white;
  border-radius: 8px;
  padding: 4px;
}

.tabButton {
  padding: 8px 24px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 8px;
  transition:
    color 0.3s,
    background-color 0.3s;
  white-space: nowrap;
}

.active {
  background-color: #ff6347;
  color: white;
}

.inactive {
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}
