.bullet {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff5d47;
  border-radius: 50%;
  cursor: pointer;
}

.bulletCenter {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.active {
  background-color: #ff5d47;
}

.inactive {
  background-color: #b0abaa;
  border: none;
}
