.container {
  display: flex;
  color: white;
  overflow: hidden;
}

.tabButton {
  display: flex;
  align-items: center;
  padding: 12px 29px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.leftHalf {
  justify-content: flex-start;
  background-color: #ff6347;
  border-radius: 10px 0 0 0;
}

.rightHalf {
  justify-content: space-between;
  color: #ff6347;
  border: 2px solid #ff6347;
  border-left: none;
  border-radius: 0 0 10px 0;
}

.description {
  margin-right: 5px;
}

.time {
  margin-left: 5px;
}
