:root {
  --customGray: #2b2731;
  --customRed: #e63946;
  --customGraySecond: #f9f9f9;
  --customHover: #f1f1f1;
  --customBlue: #23447c;
  --main-bg-color: #ff6347;
  --main-bg-color-hover: #ff5031;
  --slider-bullets-color: #fc8019;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Set default background and text color */
body {
  background-color: var(--customGraySecond);
  color: var(--customGray);
}

/* Set default link styles */
a {
  color: var(--customBlue);
  text-decoration: none;
}

a:hover {
  color: var(--customHover);
}

body {
  font-family: 'Noto Sans Georgian', 'sans-serif';
  /* padding: 20px; */
}
