.container {
  width: 450px;
  min-width: 325px;
  padding: 12px 24px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.headerItem {
  font-family: Noto Sans Georgian;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: left;
  color: #000000;
}

.headerItemSecond {
  font-family: Noto Sans Georgian;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #87898e;
}

.orderItems {
  width: 100%;
  border-top: 1px solid #92989f38;
  border-bottom: 1px dashed #92989f38;
  padding: 18px 0;
  max-height: 300px;
  overflow-y: auto;
}

.payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 0;
  gap: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 18px;
}
