.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #000080;
  border-radius: 12px;
  padding: 3px 10px;
}

.button {
  color: #000080;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.button:disabled {
  color: grey;
  cursor: not-allowed;
}

.quantity {
  color: #000080;
  font-family: Noto Sans Georgian;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.32px;
  text-align: center;
}

.quantityInput {
  width: 25px;
  border: 0.5px solid #dfdfdf;
  border-radius: 0.5px;
  margin: 0 2px;
  text-align: center;
  -moz-appearance: textfield;
}

.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantityInput.active {
  color: #000080;
}

.quantityInput:focus {
  outline: none;
  border-color: #000080;
}
