.dynamicTab {
  position: relative;
  width: max-content;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  border: 1px solid #c4cfda;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  font-family: Noto Sans Georgian;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #252c32;
}

.active,
.dynamicTab:hover,
.dynamicTab:focus {
  border-color: #ff6347;
}

.dropdown {
  position: absolute;
  top: 105%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #c4cfda;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 150px;
}

.dropdownItem {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}
