.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #000080;
  border-radius: 12px;
  padding: 3px 10px;
}

.button {
  color: #000080;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.button:disabled {
  color: grey;
  cursor: not-allowed;
}

.quantity {
  color: #000080;
  font-family: Noto Sans Georgian;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.32px;
  text-align: center;
}
