.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}

.items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.dynamicTabContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
