/* src/components/Slider.module.css */
.sliderContainer {
  width: 80%;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.sliderItem {
  width: 100%;
  height: auto;
}
